body {
    background-color: black;
}
h1 {
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}
p {
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}
